.arrowButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 0 0 0 80px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  color: #42567a;

  & span {
    width: 36px;
    height: 18px;
  }
}

.arrowButtons__container {
  display: flex;
  gap: 20px;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #42567a;
    cursor: pointer;
    outline: none;
    padding: 0;
    background-color: transparent;
    transition: background-color 0.3s ease, opacity 0.3s ease,
      transform 0.3s ease;
    &:hover {
      background-color: white;
      transform: scale(1.1);
    }
    &:disabled {
      cursor: default;
      transform: scale(1);
      opacity: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .arrowButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;

    & span {
      width: 41px;
      height: 14px;
    }
  }

  .arrowButtons__container {
    gap: 8px;

    & button {
      width: 25px;
      height: 25px;
    }
  }
}
